### Python ###
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/

### Project specific ###
databases_2/m2m_relations/articles/settings_local.py

### OS specific ###
.DS_Store