{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <h7>Сортировать по: <a href="http://127.0.0.1:8000/catalog/?sort=name"> Наименованию</a>
                <a href="http://127.0.0.1:8000/catalog/?sort=max-price"> Максимальной цене</a>
                <a href="http://127.0.0.1:8000/catalog/?sort=min-price"> Минимальной цене</a>
            </h7>
        </div>

        <a class="content">
                {% for each in phones %}
                    <a href="http://127.0.0.1:8000/catalog/{{ each.slug }}"  > <h1>{{ each.title }}</h1> </a>
                    <h5><b>Стоимость: {{ each.price }}руб</b></h5>
                    <img src="{{ each.image }}">
                {% endfor %}
        </div>
    </div>
{% endblock %}